[build]
  command = "npm run build"
  publish = ".svelte-kit/netlify"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/render"
  status = 200

[functions]
  node_bundler = "esbuild"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"